:root {
    --color-main: #32a852;
    --color-highlight: #4bc96d;
    --color-fainted: #66b77d;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    margin-bottom: 0px;
    margin-top: 2em;
}

a {
    color: var(--color-main);
}

a:visited {
    color: var(--color-fainted);
}

a:hover {
    color: var(--color-highlight);
}

div#content {
    width: min(90%, 800px);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    height: 500px;
}

#portrait {
    border-radius: 0.4em;
    margin-right: 2em;
}

#id-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
